.footer {
  background-color: #2e5d99;
  color: white;
  padding: 1rem;
  width: 100%;
  margin-top: auto;
}

.text {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  font-family: Arial, sans-serif;
}
